@model EDuBee.Classes.FileDocument

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>FileDocument</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        @*<form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idcategory" class="control-label"></label>
                <input asp-for="Idcategory" class="form-control" />
                <span asp-validation-for="Idcategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idattribute" class="control-label"></label>
                <input asp-for="Idattribute" class="form-control" />
                <span asp-validation-for="Idattribute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>*@
        <div class="form-container" style="margin-top: 20px; display: flex; text-align: center;">
            <form method="post" class="col-sm-9" enctype="multipart/form-data" asp-action="Create">
                <div class="row" style="">
                    <div class="col-sm-4 form-group login-center input-register">
                        <label for="">Loại tài liệu</label>
                    </div>
                    <div class="col-sm-8 form-group combo-register">
                        <select class="form-control" id="Category" name="Idcategory">
                            <!-- <option class="hidden" name="province" selected disabled>Bài đọc</option>
                        <option value="1">1</option>
                        <option value="1">2</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group login-center input-register">
                        <label for="">Lớp</label>
                    </div>
                    <div class="col-sm-8 form-group combo-register">
                        <select class="form-control" id="_class">
                            <!-- <option class="hidden" name="province" selected disabled>Lớp</option>
                        <option value="1">1</option>
                        <option value="1">2</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group login-center input-register">
                        <label for="">Bộ sách</label>
                    </div>
                    <div class="col-sm-8 form-group combo-register">
                        <select class="form-control" id="BoSach">
                            <!-- <option class="hidden" name="province" selected disabled>Bộ sách</option>
                        <option value="1">1</option>
                        <option value="1">2</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group login-center input-register">
                        <label for="">Môn</label>
                    </div>
                    <div class="col-sm-8 form-group combo-register">
                        <select class="form-control" id="Mon">
                            <!-- <option class="hidden" name="province" selected disabled>Môn</option>
                        <option value="1">1</option>
                        <option value="1">2</option> -->
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group login-center input-register">
                        <label for="">Tên bài</label>
                    </div>
                    <div class="col-sm-8 form-group input-class">
                        <input type="text" name="namedocument" placeholder="Nhập tên bài" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group login-center input-register">
                        <label for="">Ảnh đại diện</label>
                    </div>
                    <div class="col-sm-8 form-group input-class">
                        <input type="file" name="FileImage" class="form-control">
                    </div>
                </div>
                <!-- <div class="row">
                <div class="col-sm-4 form-group login-center input-register">
                    <label for="">Tác giả</label>
                </div>
                <div class="col-sm-8 form-group input-class">
                    <input type="text" name="class" placeholder="Nhập tên tác giả" class="form-control">
                </div>
            </div> -->
                <div class="row">
                    <div class="col-sm-4 form-group login-center input-register">
                        <label for="">Tài liệu</label>
                    </div>
                    <div class="col-sm-8 form-group input-class">
                        <input type="file" name="DocFile" placeholder="Nhập tên tác giả" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group login-center input-register">
                    </div>
                    <div class="col-sm-8 form-group input-class" style="display:flex">
                        <div class="radio-fee"><input type="radio" name="fee" value="1">Bán</div>
                        <div class="radio-fee"><input type="radio" name="fee" value="1">Miễn phí</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group login-center input-register">
                    </div>
                    <div class="col-sm-8 form-group input-class" style="display:flex">
                        <div class="submit-upload btn btn-primary">
                            <i class="fas fa-upload"></i>&ensp;<input type="submit" name="submit" id="submit"
                                                                      class="btn btn-primary" value="Tải tài liệu">
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

